<mat-toolbar>
  <span>Test task</span>
  <span class="example-spacer"></span>
  <button mat-flat-button aria-label="Theme button" (click)="toggleDarkTheme()">
    {{ themeButtonText }}
  </button>
  <button mat-flat-button aria-label="Auth button" (click)="toggleAuthentication()">
    {{ authenticationButtonText$ | async }}
  </button>
</mat-toolbar>
<main class="container">
  <form>
    <mat-form-field>
      <mat-label>Search messages</mat-label>
      <input matInput placeholder="Ex. Message 1" [formControl]="searchControl">
    </mat-form-field>
  </form>
  <div>
    <h5>Results:</h5>
    <mat-list>
      <mat-list-item *ngFor="let message of searchResults">{{ message.text }}</mat-list-item>
    </mat-list>
  </div>
</main>
